body {
    background-image: url(photos/Galaxy-2048x1152.jpg);
    background-size: 100%;
    color: #ffab4d;
}

.header {
    height: 50px;
    margin: 0 auto;
}

.camera-container {
    margin: 0 auto;
    background-color: black;
    width: 800px;
    height: 600px;
    position: relative;
}

.camera {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.buffer {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

.screenshots {
    height: 600px;
}

.screenshots-container {
    padding: 0 30px;
    background-color: #c2c2c2;
    margin: auto;
    padding: 30px;
    height: 490px;
    background-color: rgba(0,0,0,1);
}

.container-area {
    height: 100%;
    background-color: #c2c2c2;
    overflow-y: auto;
    text-align: center;
    background-color: inherit;
}

.container-area .photo {
    display: inline-block;
    max-width: 200px;
    max-height: 200px;
    vertical-align: top;
}

.photo {
    max-width: 200px;
    max-height: 200px;
}

.photo-divider-up {
    margin: 0 auto;
    width: 200px;
    height: 15px;
    position: relative;
    transition: background-color 0.3s ease-in;
}

.photo-divider-up.dragHover {
    background-color: white;
    opacity: 0.3;
}

[draggable] {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.app-container {
    height: 650px;
    position: relative;
}

.control-panel {
    margin: 0 auto;
    height: 30px;
    width: 800px;
    text-align: center;
    background-color: rgba(0,0,0, 0.8);
    border-top: white 1px solid;
    color: white;
}

.screenshots-header {
    text-align: center;
    margin: 0;
    height: 50px;
}

.second-column {
    float: left;
    width: 30%;
    height: 100%;
}

.first-column {
    float: left;
    width: 70%;
    height: 100%;
}

.h1-app-header {
    text-align: center;
}

#camera {
    transition: background-color 0.3s ease-in;
}